/**
 * @doc common css
 * @author Heanes
 * @time 2019-05-03 23:10:44 周五
 */

.index{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
  background-color: #f8f8f8;
  .title{
    padding: 10px;
    line-height: 2em;
    color: #666;
  }
}

